<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('statics', path='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('statics', path='/vendors/iconly/bold.css') }}">

    <link rel="stylesheet" href="{{ url_for('statics', path='/vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('statics', path='/vendors/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('statics', path='/css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('statics', path='/images/favicon.svg') }}" type="image/x-icon">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    {% endblock %}
    <style>
        input:read-only { outline: none; }
        #amount { border: none; height: 24px; border-radius: 4px; padding: 0 1rem; color: #000; background: transparent; }
        .slider-range { width: 100%; border-radius: 50px; height: 10px; background: rgba(255,255,255,0.2); position: relative; margin-left: 10px; margin-top: 6px;}
        .slider-range+input { background: none; width: 80px; margin-right: 0; padding: 0; text-align: right; }
        .slider-range .ui-slider-handle { border: 2px solid #fff; width: 16px; height: 16px; background: #ecad4a; border-radius: 50px; top: -3.5px; margin-left: -8px; position: absolute; z-index: 2; cursor: pointer; }
        .slider-range .ui-slider-handle:focus { outline: none; }
        .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; position: absolute; z-index: 1;display: block; background: #e6bf82; }

        .attack_word {color: grey; font-style: italic;}

    </style>
</head>
{% block body %}
<body>
    <div id="app">
        <div id="main" style="margin-left: 0px;">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-3">
                        <div class="card">
                            <div class="card-body py-4 px-5">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl">
                                        <img src="{{ url_for('statics', path='/images/logo/clue-logo.svg') }}" alt="Team-Clue">
                                    </div>
                                    <div class="ms-3 name">
                                        <h5 class="font-bold">Live Commerce Management</h5>
                                        <div class="form-group position-relative has-icon-left" style="height: 20px;">
                                            <input id='userId' type="text" class="form-control" placeholder="Input with icon left" style="font-weight: bold;">
                                            <div class="form-control-icon" style="top: 90%">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" style="display: flex;">
                                <h4>Messages</h4> 
                                <span style="margin-left: 50px;">Confidence</span>
                                <span id="slider-range" class="slider-range"></span><input type="text" id="amount" readonly >
                            </div>
                            <div class="card-content pb-4">
                                <div id="chattingBox" class="px-4" style="height: 535px; overflow-y: scroll;">
                                </div>
                                <div class="px-4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <button id='sendMessage' class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon purple">
                                                    <i class="iconly-boldShow"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">시청자 수</h6>
                                                <h6 class="font-extrabold mb-0">356</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">누적 접속량</h6>
                                                <h6 class="font-extrabold mb-0">562</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon red">
                                                    <i class="fas fa-heart" style="color: white;"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">좋아요</h6>
                                                <h6 class="font-extrabold mb-0">260</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon green">
                                                    <i class="iconly-boldAdd-User"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">팔로워</h6>
                                                <h6 class="font-extrabold mb-0">112</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>긍·부정 비율</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-visitors-profile"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-xl-8">
                                <div class="card">
                                    <div class="card-header" style="padding-bottom: 0;">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="statistic-tab" data-bs-toggle="tab" href="#statistic" role="tab"
                                                    aria-controls="statistic_tab" aria-selected="true">시간별 긍·부정 분포</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="wordcloud-tab" data-bs-toggle="tab" href="#wordcloud" role="tab"
                                                    aria-controls="wordcloud_tab" aria-selected="false">워드클라우드</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body" style="display: block; height: 360px;">
                                        <div class="tab-content" id="myTabContent2">
                                            <div class="tab-pane fade show active" id="statistic" role="tabpanel" aria-labelledby="statistic_tab">
                                                <div id="area"></div>        
                                            </div>
                                            <div class="tab-pane fade" id="wordcloud" role="tabpanel" aria-labelledby="wordcloud_tab">
                                                <div id="wordcloud_area" style="height: 350px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header" style="padding-bottom: 0;">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#hate_table" role="tab"
                                                    aria-controls="hate_table" aria-selected="true">욕설, 혐오</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#qa_table" role="tab"
                                                    aria-controls="qa_table" aria-selected="false">FAQ</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body" style="display: block; height: 280px; overflow-y: scroll;">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="hate_table" role="tabpanel" aria-labelledby="hate_table-tab">
                                                <table class="table table-hover table-lg">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Count</th>
                                                            <th>Comment</th>
                                                            <th>time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='tbody-list-hate'>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="qa_table" role="tabpanel" aria-labelledby="qa_table-tab">
                                                <table class="table table-hover table-lg">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Comment</th>
                                                            <th>time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='tbody-list-qa'>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Team-Clue</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="{{ url_for('statics', path='/vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('statics', path='/js/bootstrap.bundle.min.js') }}"></script>
    
    <script src="{{ url_for('statics', path='/vendors/apexcharts/apexcharts.js') }}"></script>
    <script src="{{ url_for('statics', path='/js/pages/dashboard.js') }}"></script>

    <script src="{{ url_for('statics', path='/js/mazer.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('statics', path='/js/extensions/sweetalert2.js') }}"></script>
    <script src="{{ url_for('statics', path='/vendors/sweetalert2/sweetalert2.all.min.js') }}"></script>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

    <script type='text/javascript'>

        // dictionary of hate speech {'user': ['hate comment']}
        var hate_speech_dict = new Map();

        var totalCommentCnt = 0
        var positiveCommentCnt = 0
        var negativeCommentCnt = 0
        var areaPosData = [
			{x: 5, y: 0},
		]
        var areaNegData = [
			{x: 5, y: 0}
		]

        function is_valid(){
            if($('#exampleFormControlTextarea1').val() == ''){
                return false
            } else { 
                return true
            }
        }

        $("button[id='sendMessage']").on("click", function() {
            if(!is_valid()){ return }

            sendMessage($('#userId').val(), $('#exampleFormControlTextarea1').val(), false)
        });

        function sendMessage(user_id, text, auto) {
            $.ajax({
                url: '/chat/sendMessage',
                type: 'POST',
                data: JSON.stringify({
                                      user_id: user_id
                                    , text: text
                                    , confidence: Number($("#amount").val().replace('%', ''))
                                }),
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    console.log(data)
                    text_html = '<h5 class="mb-1">' + data.text + '</h5>'

                    if(data.is_question){
                        text_html = '<h5 class="mb-1">' + '<i class="fas fa-question-circle"></i> <span style="background-color:aqua;">' + data.text + '</span></h5>';
                        qa_html = ''
                        qa_html += '<tr>'
                        qa_html += '<td class="col-2">'
                        qa_html += '<div class="d-flex align-items-center">'
                        qa_html += '<div class="avatar avatar-md">'
                        qa_html += '<img src=\'{{ url_for("statics", path="/images/faces/5.jpg") }}\'>'
                        qa_html += '</div>'
                        qa_html += '<p class="font-bold ms-3 mb-0">' + data.user_id + '</p>'
                        qa_html += '</div>'
                        qa_html += '</td>'
                        qa_html += '<td class="col-auto">'
                        qa_html += '<p class="mb-0">' + data.text + '</p>'
                        qa_html += '</td>'
                        qa_html += '<td class="col-2">'
                        qa_html += '<p class="mb-0">' + data.time + '</p>'
                        qa_html += '</td>'
                        qa_html += '</tr>'

                        $('#tbody-list-qa').append(qa_html)
                    } else {
                        // Case 별로 분류하기
                        // 1. 감성글 여부 판단 -> 그래프에 반영
                        is_hate_or_neg = false;

                        if(data.label_senti == 1) {
                            positiveCommentCnt++;
                            totalCommentCnt++;
                            temp_pos++;
                            areaPosData[areaPosData.length-1]['y'] += 1
                        } else if(data.label_senti == 0){
                            negativeCommentCnt++;
                            totalCommentCnt++;
                            temp_neg++;
                            areaNegData[areaNegData.length-1]['y'] += 1
                            //is_hate_or_neg = true
                        }

                        // 2. 욕설 글 판단
                        //  2.1) 리스트에 추가
                        //  2.2) 채팅창 출력값 변경
                        if(data.label_beep == 1) {
                            text_html = '<h5 class="mb-1 attack_word">부적절한 표현입니다.</h5>'
                            is_hate_or_neg = true
                        }
                        // } else if (data.label_beep == 2) {
                        //     text_html = '<h5 class="mb-1">' + '<i style="color:red;" class="fas fa-angry"></i> ' + data.text + '</h5>';
                        // }

                        if (data.label_beep == 1 && data.label_senti == 0){

                            if(hate_speech_dict.get(data.user_id) == undefined) {
                                hate_speech_dict.set(data.user_id, [[data.text, data.time]])
                            } else {
                                hate_speech_dict.get(data.user_id).push([data.text, data.time])
                            }
                            
                            redrawCommentList()
                        }
                    }

                    // 3. 일반 글 그냥 출력
                    html = '';
                    html += '<div class="name ms-4">';
                    html += '<h6 class="text-muted mb-0">@' + data.user_id + ' - '+ data.time +'</h6>';
                    html += text_html;
                    html += '</div>';

                    $('#chattingBox').append(html);
                    $('#chattingBox').scrollTop(1000000)
                    
                    if(!auto){
                        $('#exampleFormControlTextarea1').val('');
                    }
                    
                    if (data.label_senti != 2){
                        chartVisitorsProfile.updateSeries(
                            [positiveCommentCnt/totalCommentCnt
                            , negativeCommentCnt/totalCommentCnt], true
                        );
                    }
                    
                },
            });
        }

        // Click Table Row to see full Comment
        function view_full_comment(self){
            
            user_id = $(self).children('td').eq(0).children('div').children('p').text()
            text_list = hate_speech_dict.get(user_id)
            html = ''

            for (var i = 0; i < text_list.length; i++){
                html += '<span>' + text_list[i][0] + '</span><br>'
            }
            
            Swal.fire({
                html: html,
                icon: 'error'
            })
        }

        // Click Ban Event toggle (gray <-> red)
        function clickBan(self){
            if ($(self).css('color') == 'rgb(96, 112, 128)') {
                $(self).css('color', 'red')
            }else {
                $(self).css('color', 'rgb(96, 112, 128)')
            }
        }

        function redrawCommentList(){
            const mapSort = new Map([...hate_speech_dict.entries()].sort((a, b) => b[1].length - a[1].length));

            $('#tbody-list-hate').empty()
            
            for(let item of mapSort){
                html = ''
                html += '<tr ondblclick="view_full_comment(this)">'
                html += '<td class="col-2">'
                html += '<div class="d-flex align-items-center">'
                html += '<div class="avatar avatar-md">'
                html += '<img src=\'{{ url_for("statics", path="/images/faces/5.jpg") }}\'>'
                html += '</div>'
                html += '<p class="font-bold ms-3 mb-0">'+ item[0] +'</p>'
                html += '<span style="margin-left: 10px; cursor: pointer;" onclick="clickBan(this)"><i class="fas fa-ban"></i></span>'
                html += '</div>'
                html += '</td>'
                html += '<td class="col-1">'
                html += '<p class="mb-0" style="margin-left: 18px;">' + item[1].length + '</p>'
                html += '</td>'
                html += '<td class="col-auto">'
                html += '<p class="mb-0">' + item[1][item[1].length-1][0] + '</p>'
                html += '</td>'
                html += '<td class="col-2">'
                html += '<p class="mb-0">' + item[1][item[1].length-1][1] + '</p>'
                html += '</td>'
                html += '</tr>'

                $('#tbody-list-hate').append(html)

            }
        }

        // Confidence slide bar event
        $(function() {
            var options = {
                range: 'min',
                max: 100,
                value: 90,
                slide: function(event, ui) {
                    var max = ui.value;
                    $("#amount").val(max + "%");
                }
            }, max;

            $("#slider-range").slider(options);
            max = $("#slider-range").slider("values", 1);
            $("#amount").val(max + "%");
        });

        // 샘플 데이터 로드 및 뿌리기
        sample_data_list = {};
        sample_data_list_idx = 0

        function loadSampleLog() {

            $.ajax({
                url: '/chat/loadSampleLog',
                type: 'POST',
                data: JSON.stringify({}),
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    sample_data_list = data.comments
                    runSampleData()
                }
            })
        }

        function runSampleData(){
            sendMessage(sample_data_list[sample_data_list_idx].id, sample_data_list[sample_data_list_idx].comment, true)
            sample_data_list_idx++
            setTimeout(runSampleData, Math.random() * (2222 - 1000) + 1000)
        }

        // 워드 클라우드 그리기
        function drawWordCloud(){
            setInterval(function() {
            // 백단으로부터 데이터 로드하는 기능 필요
                $.ajax({
                    url: '/chat/getWC',
                    type: 'POST',
                    data: JSON.stringify({}),
                    dataType: "json",
                    contentType: "application/json",
                    success: function(data) {
                        $('#wordcloud_area').empty()

                        var customColorScale = anychart.scales.ordinalColor();
                        customColorScale.colors(['#55c6e8', '#FFCDD2']);
                
                        var chart = anychart.tagCloud(data.data);
                        chart.colorScale(customColorScale);

                        chart.angles([0]);
                        chart.container("wordcloud_area");
                        chart.draw();
                    }
                })    
            }, 10000);
        }

        temp_pos = 0
        temp_neg = 0

        function drawTimeArea(){
            last_time = areaPosData[areaPosData.length-1]['x']

            areaPosData.push({x: last_time + 5, y: temp_pos})
            areaNegData.push({x: last_time + 5, y: temp_neg})

            area.updateSeries([
                    {name: "긍정", data: areaPosData,},
                    {name: "부정", data: areaNegData,},
                ], true
            )
            temp_pos = 0
            temp_neg = 0
            
            setTimeout(drawTimeArea, 10000)
        }

        $(document).ready(function () {
            console.log('chatting page opened!!')

            document.getElementById('exampleFormControlTextarea1').addEventListener('keydown', function(){
                if(event.keyCode == 13){
                    event.preventDefault();
                    $("button[id='sendMessage']").click()
                }
            })

            //loadSampleLog()
            redrawCommentList()
            drawWordCloud()
            drawTimeArea()
        });

    </script>

    {% endblock %}
</body>

</html>
