<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('statics', path='/css/bootstrap.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('statics', path='/vendors/iconly/bold.css') }}">

    <link rel="stylesheet" href="{{ url_for('statics', path='/vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('statics', path='/vendors/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('statics', path='/css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('statics', path='/images/favicon.svg') }}" type="image/x-icon">
    {% endblock %}
</head>
{% block body %}
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="index.html"><img src="{{ url_for('statics', path='/images/logo/logo.png') }}" alt="Logo" srcset=""></a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>
            <li
                class="sidebar-item active ">
                <a href="/" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Live Streaming</span>
                </a>
            </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon purple">
                                                    <i class="iconly-boldShow"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">시청자 수</h6>
                                                <h6 class="font-extrabold mb-0">112.000</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">판매량</h6>
                                                <h6 class="font-extrabold mb-0">183.000</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon green">
                                                    <i class="iconly-boldAdd-User"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Following</h6>
                                                <h6 class="font-extrabold mb-0">80.000</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon red">
                                                    <i class="iconly-boldBookmark"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Saved Post</h6>
                                                <h6 class="font-extrabold mb-0">112</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>긍·부정 비율</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-visitors-profile"></div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="col-12 col-xl-8">
                                <div class="card">
                                    <div class="card-header" style="padding-bottom: 0px;">
                                        <h4>감성분석 코멘트</h4>
                                    </div>
                                    <div class="card-body" style="display: block; height: 367px; overflow-y: scroll;">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Comment</th>
                                                        <th>time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <img src="{{ url_for('statics', path='/images/faces/5.jpg') }}">
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0">Si Cantik</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0">Congratulations on your graduation!</p>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0">2021-12-12 14:41</p>
                                                        </td>
                                                    </tr>                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header" style="padding-bottom: 0;">
                                        <h4>욕설, 혐오발언 코멘트</h4>
                                    </div>
                                    <div class="card-body" style="display: block; height: 280px; overflow-y: scroll;">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Comment</th>
                                                        <th>time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <img src="{{ url_for('statics', path='/images/faces/5.jpg') }}">
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0">Si Cantik</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0">Congratulations on your graduation!</p>
                                                        </td>
                                                        <td class="col-2">
                                                            <p class=" mb-0">2021-12-12 14:43</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <img src="{{ url_for('statics', path='/images/faces/5.jpg') }}">
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0">Si Cantik</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0">Congratulations on your graduation!Congratulations on your graduation!Congratulations on your graduation!Congratulations on your graduation!</p>
                                                        </td>
                                                        <td class="col-2">
                                                            <p class=" mb-0">2021-12-12 14:43</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="card">
                            <div class="card-body py-4 px-5">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl">
                                        <img src="{{ url_for('statics', path='/images/faces/1.jpg') }}" alt="Face 1">
                                    </div>
                                    <div class="ms-3 name">
                                        <h5 class="font-bold">John Duck</h5>
                                        <h6 class="text-muted mb-0">@johnducky</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>Recent Messages</h4>
                            </div>
                            <div class="card-content pb-4">
                                <div id="chattingBox" class="px-4" style="height: 535px; overflow-y: scroll;">
                                    <div class="name ms-4">
                                        <h6 class="text-muted mb-0">@동긔 - 14:56</h6>
                                        <h5 class="mb-1">상품이 아주 마음에 듭니다!</h5>
                                    </div>
                                    <div class="name ms-4">
                                        <h6 class="text-muted mb-0">@슈가 - 14:57</h6>
                                        <h5 class="mb-1" style="color: grey; font-style: italic;">부적절한 표현입니다.</h5>
                                    </div>
                                    <div class="name ms-4">
                                        <h6 class="text-muted mb-0">@픠케 - 15:00  <button>신고</button></h6>
                                        <h5 class="mb-1">이거 사용해봤는데 진짜 별로에요...</h5>
                                    </div>
               
                                </div>
                                <div class="px-4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <button id='sendMessage' class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Start
                                        Conversation</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="{{ url_for('statics', path='/vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('statics', path='/js/bootstrap.bundle.min.js') }}"></script>
    
    <script src="{{ url_for('statics', path='/vendors/apexcharts/apexcharts.js') }}"></script>
    <script src="{{ url_for('statics', path='/js/pages/dashboard.js') }}"></script>

    <script src="{{ url_for('statics', path='/js/mazer.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            console.log('log....')
        });
        
        $("button[id='sendMessage']").on("click", function () {
            message = $('#exampleFormControlTextarea1').val()

            $.ajax({
                url: '/chat/sendMessage',
                type: 'POST',
                data: JSON.stringify({user_info:{'id': 'lswkim'}
                                    , message: {'text': message}
                                    , model_result:{'sentiment': 0, "is_hate": 0}
                                }),
                dataType: "json",
                contentType: "application/json",
                success: function(data) {

                    console.log(data);
                    text = data.message.text;
                    html = ''
                    if(data.model_result.sentiment == 0) {

                    } else if(data.model_result.sentiment == 0) {

                    }

                    if(data.model_result.is_hate == 0) {

                    } else if(data.model_result.is_hate == 0) {

                    } else {
                        text = "부적절한 댓글 입니다."
                    }
                    html += '<div class="name ms-4">';
                    html += '<h6 class="text-muted mb-0">@픠케 - 15:00  <button>신고</button></h6>';
                    html += '<h5 class="mb-1">'+text+'</h5>';
                    html += '</div>'

                    // text = ''
                    // text += '<div class="name ms-4">';
                    // text += '<h6 class="text-muted mb-0">@test1</h6>'
                    // text += '<h5 class="mb-1">' + message + '</h5>'
                    // text += '</div>'

                    // $('#chattingBox').append(text)
                    // $('#exampleFormControlTextarea1').val('')
                },
            });
            // $.ajax({
            //     url: "/test/" + 'lswkim',
            //     type: "get",
            //     dataType: "json",
            //     contentType: "application/json",
            //     success: function(data) {
            //         console.log(data)
            //     },
            // });            
        });

    </script>

    {% endblock %}
</body>

</html>
